# Ignore node_modules directory
node_modules/

#Just for now
# /BackEnd/

# Ignore macOS specific files
.DS_Store

# Ignore log files
*.log

# Ignore environment files
*.env

# Ignore vs code linter files
*.hintrc