<!--===== This is Analytics page =======-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <link rel="stylesheet" type="text/css" href="../styles/all_articles.css">

    <link rel="icon" type="image/png" href="./images/logo1.png">
    <title>NdevuSpace</title>
  </head>
  <body>
   
    <div class="got_to_dashboard">
      <a href="../views/dashboard.html" target="_self"><h3><u>Back to DashBoard</u></h3></a>
    </div>
    <div class="search-filter">
      <input type="text" placeholder="Search by title">
      <button id="search-button" class="download-my-cv"> 
        Search
     </button>
    </div>

     <div class="article_board">
      <h1>Article Board</h1>
     </div>

     <div class="article_categories">
      <a href="#" target="_self">Programming</a>
      <a href="#" target="_self">Business</a>
      <a href="#" target="_self">Critical thinking</a>
      <a href="#" target="_self">Social Life</a>
      <a href="#" target="_self">Technology</a>
    </div>

    <div class="articles_storage">

      <div class="on_the_way">
        <button id="Recently" class="state">Recently</button>
        <button id="Published" class="state">Published</button>
        <button id="Unpublished" class="state">Unpublished</button>
        <button id="Draft" class="state">Draft</button>
        <button id="Archived" class="state">Archived</button>
      </div>
    
        <div class="calarify">
            <!-- <div class="blog_analysis"> -->
                
                <div class="recently_uploaded">
                  
                  <h1>Recently</h1>
                  <ul>
                    <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                  </ul>
                    <p>
                      Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                      My journey in the world of technology has equipped me with a diverse set of skills, 
                      allowing me to bring ideas to life through elegant and efficient code.
                    </p>
                    <div class="choice_art">
                      <button id="Delete1" class="edit_button delete-button"> 
                        Delete
                     </button>

                     <button id="Analysis1" class="edit_button"> 
                      Analysis
                   </button>

                   <button id="Edit1" class="edit_button"> 
                    Edit
                 </button>

                 <button id="View1" class="edit_button"> 
                  View
               </button>

               <button id="private1" class="edit_button"> 
                Unpublish
             </button>
                    </div>

                    <ul>
                      <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                    </ul>
                      <p>
                        Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                        My journey in the world of technology has equipped me with a diverse set of skills, 
                        allowing me to bring ideas to life through elegant and efficient code.
                      </p>
                      <div class="choice_art">
                        <button id="Delete2" class="edit_button delete-button"> 
                          Delete
                       </button>
  
                       <button id="Analysis2" class="edit_button"> 
                        Analysis
                     </button>
  
                     <button id="Edit2" class="edit_button"> 
                      Edit
                   </button>
  
                   <button id="View2" class="edit_button"> 
                    View
                 </button>
  
                 <button id="private2" class="edit_button"> 
                  Unpublish
               </button>
                      </div>

                                          <ul>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                      </ul>
                        <p>
                          Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                          My journey in the world of technology has equipped me with a diverse set of skills, 
                          allowing me to bring ideas to life through elegant and efficient code.
                        </p>

                        <div class="choice_art">
                          <button id="Delete3" class="edit_button delete-button"> 
                            Delete
                         </button>
    
                         <button id="Analysis3" class="edit_button"> 
                          Analysis
                       </button>
    
                       <button id="Edit3" class="edit_button Edit-button"> 
                        Edit
                     </button>
    
                     <button id="View3" class="edit_button"> 
                      View
                   </button>
    
                   <button id="private3" class="edit_button"> 
                    Unpublish
                 </button>
                        </div>
                </div>


                <div class="all_others">
                    <h1>All articles</h1>
                    <ul>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                      </ul>
                        <p>
                          Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                          My journey in the world of technology has equipped me with a diverse set of skills, 
                          allowing me to bring ideas to life through elegant and efficient code.
                        </p>

                        <div class="choice_art">
                          <button id="Delete4" class="edit_button delete-button"> 
                            Delete
                         </button>
    
                         <button id="Analysis4" class="edit_button"> 
                          Analysis
                       </button>
    
                       <button id="Edit4" class="edit_button"> 
                        Edit
                     </button>
    
                     <button id="View4" class="edit_button"> 
                      View
                   </button>
    
                   <button id="private4" class="edit_button"> 
                    Unpublish
                 </button>
                        </div>

                        <ul>
                          <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        </ul>
                          <p>
                            Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                            My journey in the world of technology has equipped me with a diverse set of skills, 
                            allowing me to bring ideas to life through elegant and efficient code.
                          </p>

                          <div class="choice_art">
                            <button id="Delete5" class="edit_button delete-button"> 
                              Delete
                           </button>
      
                           <button id="Analysis5" class="edit_button"> 
                            Analysis
                         </button>
      
                         <button id="Edit5" class="edit_button"> 
                          Edit
                       </button>
      
                       <button id="View5" class="edit_button"> 
                        View
                     </button>
      
                     <button id="private5" class="edit_button"> 
                      Unpublish
                   </button>
                          </div>

                          <ul>
                            <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                          </ul>
                            <p>
                              Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                              My journey in the world of technology has equipped me with a diverse set of skills, 
                              allowing me to bring ideas to life through elegant and efficient code.
                            </p>

                            <div class="choice_art">
                              <button id="Delete6" class="edit_button delete-button"> 
                                Delete
                             </button>
        
                             <button id="Analysis6" class="edit_button"> 
                              Analysis
                           </button>
        
                           <button id="Edit6" class="edit_button"> 
                            Edit
                         </button>
        
                         <button id="View6" class="edit_button"> 
                          View
                       </button>
        
                       <button id="private6" class="edit_button"> 
                        Unpublish
                     </button>
                            </div>

                            <ul>
                              <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                            </ul>
                              <p>
                                Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                                My journey in the world of technology has equipped me with a diverse set of skills, 
                                allowing me to bring ideas to life through elegant and efficient code.
                              </p>

                              <div class="choice_art">
                                <button id="Delete7" class="edit_button delete-button"> 
                                  Delete
                               </button>
          
                               <button id="Analysis7" class="edit_button"> 
                                Analysis
                             </button>
          
                             <button id="Edit7" class="edit_button"> 
                              Edit
                           </button>
          
                           <button id="View7" class="edit_button"> 
                            View
                         </button>
          
                         <button id="private7" class="edit_button"> 
                          Unpublish
                       </button>
                              </div> 

                              <ul>
                                <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                              </ul>
                                <p>
                                  Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                                  My journey in the world of technology has equipped me with a diverse set of skills, 
                                  allowing me to bring ideas to life through elegant and efficient code.
                                </p>

                                <div class="choice_art">
                                  <button id="Delete8" class="edit_button delete-button"> 
                                    Delete
                                 </button>
            
                                 <button id="Analysis8" class="edit_button"> 
                                  Analysis
                               </button>
            
                               <button id="Edit8" class="edit_button"> 
                                Edit
                             </button>
            
                             <button id="View8" class="edit_button"> 
                              View
                           </button>
            
                           <button id="private8" class="edit_button"> 
                            Unpublish
                         </button>
                                </div>

                                <ul>
                                  <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                                </ul>
                                  <p>
                                    Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                                    My journey in the world of technology has equipped me with a diverse set of skills, 
                                    allowing me to bring ideas to life through elegant and efficient code.
                                  </p>

                                  <div class="choice_art">
                                    <button id="Delete9" class="edit_button delete-button"> 
                                      Delete
                                   </button>
              
                                   <button id="Analysis9" class="edit_button"> 
                                    Analysis
                                 </button>
              
                                 <button id="Edit9" class="edit_button"> 
                                  Edit
                               </button>
              
                               <button id="View9" class="edit_button"> 
                                View
                             </button>
              
                             <button id="private9" class="edit_button"> 
                              Unpublish
                           </button>
                                  </div>

                                  <ul>
                                    <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                                  </ul>
                                    <p>
                                      Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                                      My journey in the world of technology has equipped me with a diverse set of skills, 
                                      allowing me to bring ideas to life through elegant and efficient code.
                                    </p>

                                    <div class="choice_art">
                                      <button id="Delete10" class="edit_button delete-button"> 
                                        Delete
                                     </button>
                
                                     <button id="Analysis10" class="edit_button"> 
                                      Analysis
                                   </button>
                
                                   <button id="Edit10" class="edit_button"> 
                                    Edit
                                 </button>
                
                                 <button id="View10" class="edit_button"> 
                                  View
                               </button>
                
                               <button id="private10" class="edit_button"> 
                                Unpublish
                             </button>
                                    </div>

                                    <ul>
                                      <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                                    </ul>
                                      <p>
                                        Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                                        My journey in the world of technology has equipped me with a diverse set of skills, 
                                        allowing me to bring ideas to life through elegant and efficient code.
                                      </p>

                                      <div class="choice_art">
                                        <button id="Delete11" class="edit_button delete-button"> 
                                          Delete
                                       </button>
                  
                                       <button id="Analysis11" class="edit_button"> 
                                        Analysis
                                     </button>
                  
                                     <button id="Edit11" class="edit_button"> 
                                      Edit
                                   </button>
                  
                                   <button id="View11" class="edit_button"> 
                                    View
                                 </button>
                  
                                 <button id="private11" class="edit_button"> 
                                  Unpublish
                               </button>
                                      </div>

                                      <ul>
                                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                                      </ul>
                                        <p>
                                          Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                                          My journey in the world of technology has equipped me with a diverse set of skills, 
                                          allowing me to bring ideas to life through elegant and efficient code.
                                        </p>

                                        <div class="choice_art">
                                          <button id="Delete12" class="edit_button delete-button"> 
                                            Delete
                                         </button>
                    
                                         <button id="Analysis12" class="edit_button"> 
                                          Analysis
                                       </button>
                    
                                       <button id="Edit12" class="edit_button update"> 
                                        Edit
                                     </button>
                    
                                     <button id="View12" class="edit_button"> 
                                      View
                                   </button>
                    
                                   <button id="private12" class="edit_button"> 
                                    Unpublish
                                 </button>
                                        </div>

                                        <ul>
                                          <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                                        </ul>
                                          <p>
                                            Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                                            My journey in the world of technology has equipped me with a diverse set of skills, 
                                            allowing me to bring ideas to life through elegant and efficient code.
                                          </p>

                                          <div class="choice_art">
                                            <button id="Delete13" class="edit_button"> 
                                              Delete
                                           </button>
                      
                                           <button id="Analysis13" class="edit_button"> 
                                            Analysis
                                         </button>
                      
                                         <button id="Edit13" class="edit_button"> 
                                          Edit
                                       </button>
                      
                                       <button id="View13" class="edit_button"> 
                                        View
                                     </button>
                      
                                     <button id="private13" class="edit_button"> 
                                      Unpublish
                                   </button>
                                          </div>

                                                              <ul>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                      </ul>
                        <p>
                          Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
                          My journey in the world of technology has equipped me with a diverse set of skills, 
                          allowing me to bring ideas to life through elegant and efficient code.
                        </p>

                        <div class="choice_art">
                          <button id="Delete14" class="edit_button"> 
                            Delete
                         </button>
    
                         <button id="Analysis14" class="edit_button"> 
                          Analysis
                       </button>
    
                       <button id="Edit14" class="edit_button"> 
                        Edit
                     </button>
    
                     <button id="View14" class="edit_button"> 
                      View
                   </button>
    
                   <button id="private14" class="edit_button"> 
                    Unpublish
                 </button>
                        </div>
                      

                </div>
            <!-- </div> -->
        </div>

        <div class="choice_article">
          
          <a href="all_articles.html">
          <button id="Delete15" class="edit_button"> 
            Back to top
         </button>
        </a>
         <a href="dashboard.html">
         <button id="go-to-dashboard" class="edit_button"> 
          Back to dashboard
       </button>
       </a>
       <a href="#">
       <button id="next" class="edit_button"> 
        Next
     </button>
    </a>

     <a href="../index.html">
     <button id="home1" class="edit_button"> 
      Home
   </button></a>
        </div>
    </div>
  
  <script src="../scripts/blogs.js" defer></script>
    </body>
    </html>