<!--===== This is Analytics page =======-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <link rel="stylesheet" type="text/css" href="../styles/analytics.css">

    <link rel="icon" type="image/png" href="../images/logo1.png">

    <title>NdevuSpace</title>
  </head>
  <body>

    <div class="got_to_dashboard">
        <a href="../views/dashboard.html" target="_self"><h3>Back to DashBoard</h3></a>
      </div>

    <div class="analytics_header">
        <h1>Analytics</h1>
    </div>
    
    <div class="details">
        <div class="clasif">
        <article>
            <div class="blog_analysis">
                <h2>Blogs analysis</h2>
                <div class="most_viewed">
                    <h3>5 Most viewed Articles</h3>
                    <ul>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                    </ul>
                </div>
                <div class="most_liked">
                    <h3>5 Most liked Article</h3>
                    <ul>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                    </ul>
                </div>
                <div class="most_shared">
                    <h3>5 Most shared Article</h3>
                    <ul>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                        <li><a href="#">Embracing the Coding Adventure: My Journey into Full Stack Development</a></li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
  <!-- classify class for second layout -->
            <div class="classify">
                <article>
            <div class="visits">
                <h2>visitors</h2>
                <div class="total_visitors">
                    <label for="dateRange">Select Date Range:</label>
                    <select id="total" name="dateRange">
                      <option value="7">Last 7 Days</option>
                      <option value="14">Last 14 Days</option>
                      <option value="30">Last 1 Month</option>
                      <option value="60">Last 2 Months</option>
                      <option value="90">Last 3 Months</option>
                    </select>

                    <p>Total visitors: 
                    <output id="Total-visitors">1000</output>
                    </p>
                </div>

                <div class="total_visitors">
                    <h3>Time they spent on space</h3>
                    <p>Total Time <span class="hours">(in Hours)</span>: 
                        <output id="total_visitors">10</output>
                        </p>
                </div>
            </div>
        </article>

        <article>
            <div class="subscribers">
                <h2>Subscribers</h2>

                <div class="total_visitors">
                    <label for="visitors">Select Date Range:</label>
                    <select id="visitors" name="dateRange">
                      <option value="7">Last 7 Days</option>
                      <option value="14">Last 14 Days</option>
                      <option value="30">Last 1 Month</option>
                      <option value="60">Last 2 Months</option>
                      <option value="90">Last 3 Months</option>
                    </select>

                    <p>Total Subscribers: 
                    <output id="Total_Subscribers">1000</output>
                    </p>
                </div>
            </div>
        </article>

        <article>
            <div class="its_position">
                <h2>Space status</h2>
                <div class="overview">
                    <h4>Space overview on 100% for each:</h4>
                    <label for="dateRange">Select analysis option:</label>
                    <select id="dateRange" name="dateRange">
                      <option value="7">Last 7 Days</option>
                      <option value="14">Last 14 Days</option>
                      <option value="30">Last 1 Month</option>
                      <option value="60">Last 2 Months</option>
                      <option value="90">Last 3 Months</option>
                    </select>

                    <p>Subscriptions: 
                        <output id="Subscriptions">1000</output>
                    </p>
                    <p>Blogs impression: 
                        <output id="Blogs_impression">1000</output>
                    </p>
                    <p>Movement: 
                         <output id="Movement">1000</output>
                    </p>
                    <p>Direct messaged me vi contact me: 
                        <output id="Direct_messaged">1000</output>
                    </p>
                    <p>Reports: 
                        <output id="Reports">1000</output>
                    </p>

                    <p>Total Subscribers: 
                    <output id="Total_Sub">1000</output>
                    </p>                    
                </div>
            </div>
        </article>
    </div>
    </div>

    <div class="got_to_dashboard">
        <a href="../views/analytics.html" target="_self"><h3>Back to top</h3></a>
        <a href="../styles/dashboard.css" target="_self"><h3>Back to DashBoard</h3></a>
      </div>
      
    </body>
    </html>