<!-- dashboard.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <link rel="stylesheet" type="text/css" href="../styles/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../styles/analytics.css">

    <link rel="icon" type="image/png" href="../images/logo1.png">

    <title>Dashboard</title>
    
</head>
<body>

    <!-- The flexible grid (content) -->
<div class="row">
     
    <!-- left layout-container -->
    <div class="side">
      <div class="logo"> <a href="../index.html" target="_self"><img src="../images/logo1.png" alt="logo"></a></div>
      <h3 class="dash"><a href="../views/dashboard.html" target="_self"><img src="../images/dashboard.png" alt="logo">Dashboard</a></h5>    
      <p class="all"><a href="../views/all_articles.html" target="_self"><img src="../images/all articles.png" alt="logo">All Articles</a></p>
      <p class="new"><a href="../views/new-article.html" target="_self"><img src="../images/new article.jfif" alt="logo">New Article</a></p>
    </div>
    
    <!-- in between big layout-container -->
    <div class="main">
        <div class="top">
            <div class="dashboardtitle">
                <h1>DashBoard</h1>
                <h5>Personal Dashboard</h5>
            </div>
             
           <div class="searchfilter">
            <a href="#" target="_self"><img src="../images/search.jfif" alt="search icon"></a>
              <input type="text" value="  Search">
           </div>
        </div>
 
      <div class="deep">
        <!-- for the time they spent on the site -->
        <div class="time">
            <img src="../images/time spent.png" alt="visitors">        
            <div class="timespent">100</div>
            <p>Total Blogs</p>
        </div>

        <!-- for cv download -->
        <div class="cv">
            <img src="../images/cv download.png" alt="visitors">        
            <div class="alltogether">5K</div>
            <p>CV download</p>
        </div>
      </div>
              <!-- Recently blogs-->
              <div class="blogs">
                <h3>Recently Blogs</h3>
                <div class="blog1">
                    <img src="../images/blog1.jfif" alt="blog1">
                    <p>How to be a good programmer</p>
                </div>
                <div class="blog2">
                    <img src="../images/blog2.jfif" alt="blog2">
                    <p>How to be a good programmer</p>
                </div>
                <div class="blog3">
                    <img src="../images/blog3.jfif" alt="blog3">
                    <p>How to be a good programmer</p>
                </div>
            </div>
    </div>
    
    <!-- right layout-container -->
    <div class="behind">
        <p class="profile">
            <a href="messages.html" target="_self"><img src="../images/messages.jfif" alt="message"></a>         
            <a href="notifications.html" target="_self"><img src="../images/notification.png" alt="notification"></a>
        </p>

        <p class="new"><a href="../views/analytics.html" target="_self"><img src="../images/Analytics.png" alt="logo">Analytics</a></p>
        <p class="uparticle"><a href="../views/settings.html" target="_self"><img src="../images/Settings.png" alt="logo">Settings</a></p>
        <br>
        <br>
 
        
        
        <div class="logout">Logout</div>
      </div>

  </div>

  <!-- SCRIPTS -->
  <script src="../scripts/logout.js"></script>
</body>
</html>
