<!--===== This is about page =======-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/hire_me.css">

    <link rel="icon" type="image/png" href="../images/logo1.png">

    <title>NdevuSpace</title>
  </head>
  <body>
    <header>
         <div class="logo"><a href="index.html" target="_self"><img src="../images/logo1.png" alt="logo"></a></div>
         <div class="">
          <div class="navigation flex-row"> 
            <a href="../views/skills.html">Skills</a>
            <a href="../views/about.html">About</a>
            <a href="../views/hire_me.html">Hire me</a>
            <a href="../views/services.html">Service</a>
            <a href="../views/blogs.html">Blogs</a>
            <a href="../index.html#contact_me">Contact me</a>
            <a href="../views/projects.html">Portfolio</a>
            <a href="../views/profile_view.html" target="_self">
              <div class="admin">
                <img src="../images/mypic.png" alt="My Picture">
             </div>
            </a>
          </div>
         </div>
      </header>

      <section class="hire_me_page">
        <div class="hire_me_page_class">
          <h1 class="hire_me_big">Hire me</h1>
          <h4> Hard worker.....................
          </h4>

          <div class="employment_stat">
            <h5>Employment status:</h5>
            <p>Already have a job:
                <output id="selectedvalue">No</output>
            </p>
            
            <h6>Open to work on:</h6>
            <div class="total_visitors">
                <p>Part Time jobs:
                <output id="selectedvalue">Yes</output>
            </p>
                <p>Remote jobs: 
                    <output id="selectedvalue">Yes</output>
                    </p>
                    <p>Full time jobs: 
                        <output id="selectedvalue">No</output>
                        </p>
            </div>
           </div>

          <p>
            Meet the mind behind the code! I am a Full Stack Developer with a keen eye for detail and a love for problem-solving. 
            My journey in the world of technology has equipped me with a diverse set of skills, 
            allowing me to bring ideas to life through elegant and efficient code.
            </p>
            <br>

            <h1>Mission and Objectives</h1>
            <p>
              Have you ever wondered about what my mission is really about or who I really Am? I'm on a mission to turn imaginative concepts into tangible, 
              interactive realities. Embark on a journey through my code and creations, where each line is a brushstroke on the canvas of innovation. 
              Oooh! I didn't talk about my UX/UI design talent and skills but it goes hand in hands with my development skills.
            </p>
            <br>

            <h1>Education</h1>
            <p>
              Have you ever wondered about what my mission is really about or who I really Am? I'm on a mission to turn imaginative concepts into tangible, 
              interactive realities. Embark on a journey through my code and creations, where each line is a brushstroke on the canvas of innovation. 
              Oooh! I didn't talk about my UX/UI design talent and skills but it goes hand in hands with my development skills.
            </p>

            <ul>
              <li>
                <p>Bacholor's Degree in BIT at University of Rwanda in progress.</p>
              </li>
              <li>
                <P>Software Engineering online.</P>
              </li>
              <li>
                <p>web development at Andela in progress</p>
              </li>
            <li>
              <p>Foundation in UX design (theory) at Coursera by Google</p>
            </li>
            <li>
              <p>Advanced Diploma in Mathematics, Computer Science and Economics (MCE)</p>
            </li>
          </ul>

            <h1>
              Experience
            </h1>
            <p>
              Have you ever wondered about what my mission is really about or who I really Am? I'm on a mission to turn imaginative concepts into tangible, 
              interactive realities. Embark on a journey through my code and creations, where each line is a brushstroke on the canvas of innovation. 
              Oooh! I didn't talk about my UX/UI design talent and skills but it goes hand in hands with my development skills.
            </p>

            <h5>For more about my Experiences you can take a look on my works on</h5>
            <ul>
              <li><p>Portfolio tab on the above navigation Ribbon or click <a href="signin.html" target="_self">here</a>.</p></li>
              <li><p><a href="https://github.com/Ndevu12?tab=repositories" target="_self">GitHub</a> for a sets of works</p></li>
            </ul>
        </div>
      </section>

      
                 <!-- Footer section-->
      <footer>
          <div class="logo">
            <img src="../images/logo1.png" alt="logo">
        </div>

         <!-- link for my social medias -->
         <div class="socialmedia"><img src="../images/linkedin-logo.png" alt="linkin link">
           <img src="../images/twitter-logo.png" alt="twitter link">
         </div>

          <div class="footerdesc">
             <!-- connecting point -->
            <div class="connection">
               <h2>Connect with me:</h2>

                <ul>
                   <li> niyokwizerwajeanpaulelisa@gmail.com</li>
                   <li>www.linkedin.com/in/jean-paul-elisa</li>
                   <li>www.GitHub.com/Ndevu12</li>
                 </ul>
              </div>
                <!-- blogs -->
               <div class="blogs-section">
                 <h2>Blogs:</h2>
                    <ul>
                    <li>My Journey into Full Stack Development</li>
                    <li>Lessons from Building a Simple Shell</li>
                    <li>The Art of UI Design in Full Stack Development</li>
                  </ul>
               </div>
      
                 <!-- my work -->
                    <div class="my-work">
                       <h2>Explore My Work:</h2>
                       <ul> 
                         <li>Simple shell</li>
                         <li>AirBnB Clone</li>
                         <li>Monty</li>
                        </ul>
                     </div>
                   </div>
                     <div class="footcopyright">
                        ©2024 | Ndevu | Full Stack Developer | Gikondo-Kigali
                     </div>    
    </footer>
    </body>
    </html>