<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/common.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/new-article.css">
  <link rel="icon" type="image/png" href="../images/logo1.png">
  <title>NdevuSpace | New Article</title>
</head>
<body>
  <main>
    <div class="got_to_dashboard">
      <a href="../views/dashboard.html" target="_self"><h3><u>Back to DashBoard</u></h3></a>
    </div>
    <div class="mradmin">
      <h1>Create New Article</h1>
    </div>
    <div class="new-blog">
      <form id="new-blog-form" class="signup">
        <div class="blog-header">
          <h3>Title</h3>
          <input class="inputField" type="text" placeholder="Write the title of the blog here" required>
        </div>
        <div class="content">
          <h3>Content</h3>
          <textarea id="content" class="contentin" placeholder="Write the content of the new blog here" required></textarea>
          <h3>Description</h3>
          <textarea id="description" class="contentin" placeholder="Write a short description here" required></textarea>
          <div class="upload-article-image">
            <p>Upload Image(s)</p>
            <input type="file" id="article-image" multiple>
            <label for="article-image"><img src="../images/update article.png" alt="Upload Image"></label>
            <p id="upload-status" class="status-message"></p>
          </div>
        </div>
        <div class="blog_category">
          <h3>Blog Category</h3>
          <label for="category">.</label>
          <select id="category" name="category" required>
            <option value="Programming">Programming</option>
            <option value="Business">Business</option>
            <option value="Social Life">Social Life</option>
            <option value="Technology">Technology</option>
          </select>
        </div>
        <div class="hashtag">
          <p>#Tags</p>
          <input class="inputField" id="tags" type="text" placeholder="Write #Tags for the article" required>
          </div>
        <div class="publish-new-article">
          <button id="save-publish" type="submit" class="edit_button">Save and Publish</button>
          <button id="save-as-draft" type="button" class="edit_button">Save as Draft</button>
          <button id="discard" type="reset" class="edit_button">Discard</button>
        </div>
        <a href="dashboard.html" target="_self" class="dashboard-link">
          <button id="go-to-dashboard" type="button" class="edit_button">Go to Dashboard</button>
        </a>
      </form>
    </div>
  </main>
  <script type="module" src="../scripts/blogs.js"></script>
</body>
</html>
