/*=========== file for all styles regarding ABOUT INFORMATION
 ============= This file consist of two sections
 =============  1. intro-about class to be used in INDEX.HTML/homepage
 ============== 2. about_page class which is stand for ABOUT PAGE
 */

/*=========== styling intro-about class ======*/

.intro-about {
  background-color: rgb(27, 24, 35);
  /* border: 1px solid red !important; */
  display : flex;
  flex-flow : row wrap;
  justify-content : center;
  align-items: center !important;
  margin: auto;
  border-radius: 15px;
  /* justify-content : space-around; */
  width : 95%;
  }

  .intro-about div {
    /* border: 1px solid red !important; */
  width : 50%;
  }

  .intro-about button {
    width: auto;
    height: auto;
    color: white !important;
    background-color: #2f2b2b;
    border-radius: 20px;
    border: 1px solid #916868;
    padding: 10px;
    text-align: center;

  }

  .intro-about button:hover {
  background-color: #101426;
  color: rgb(224, 193, 16) !important;
  width: 20%;
  font-size: large;
  cursor : pointer;
  }

  .coding-image {
    /* border: 1px solid red !important; */
    padding: 10px;
    align-items: center;
    max-width : 100%;
    margin: auto;
  }

  .intro-about .coding-image img {
  border-radius : 15%;
  max-width : 100%;
  height : auto;
  /* margin-left : 2em; */
  }

  .intro-about .about-class {
    /* border: 1px solid red !important; */
    width: 50%;
   margin: auto;
   align-items: center;
  text-align : center;
  /* height: auto; */
  padding: 20px;
  }

  .about-class p, h1, h2, h3, h5 {
  font-size : x-large;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align : left;
  }

  .intro-about h4 {
  font-size : x-large;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align : center;
  }

  .about-class a {
  color : yellow;
  text-decoration : none;
  }
  
     /* Align intro_service class as screen gets smaller */
     @media only screen and (max-width: 1000px) {
      .intro-about {
        display: block;
        font-size: medium;
        width: 95%;
      }
  
      .intro-about div {
        display: block;
          width: 100%;
        } 
  
        .intro-about .about-class { 
  
          align-items: center;
          justify-content: center;  
          margin: 5px;
          font-size: medium;
          width: 95%;
          padding: 0;
      } 
  
      /* .intro-about .face {
        margin: 5px;
      }  */
    } 
    
    @media screen and (max-width: 700px) {
      .intro-about  {  
        display: block; 
        /* flex-direction: column; */
        width: 95%;
        margin: 5px;
      }
  
      .intro-about .full-stack-dev { 
      flex-direction: column;  
      align-items: center;
      justify-content: center;  
      margin: 5px;
      font-size: medium;
  } 
  
      .intro-about article {
        width: 100%;
      } 
  
      /* .introduction .face {
        margin: 5px;
      }  */
    }


/*
============ + +  \+ + +  + /+ + =========
============ + +  + \+ +  /+ + + =========
============ + -+  -+ \+ +  +- +- + =========
============ + +  + +/ \+  + + + =========
============ + +  +/ + +  \+ + + =========
*/


/*=========== styling about.html file ======*/


  .about_page {
  display : flex;
  flex-flow : row wrap;
  justify-content : center;
  /* justify-content : space-around; */
  width : 95%;
  margin: auto;
  }
  
  .about_page div {
  width : 40em;
  }

  .about_page_class p, h1, h2, h3, h5 {
  font-size : x-large;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align : left;
  }

  .about_page h4 {
  font-size : x-large;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align : center;
  }

  .about_page_class a {
  color : yellow;
  text-decoration : none;
  }

  .about_page_class {
  background-color : rgb(28, 28, 42);
  /* margin-left : 2.5em; */
  margin-bottom : 2.5em;
  text-align : center;
  padding : 0.5em;
  border : solid 1px;
  border-radius : 15px;
  margin-top : 1em;
  }

  .me_big {
  font-size : xx-large;
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align : center;
  }

  