/*======== Styling analytics ============*/

/* styling analysis class */
.Analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Analysis .indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Add margin if needed */
}

.Analysis .indicators > * {
    flex: 1;
    margin-right: 20px;
}

/* styling for images */
.action img,
.spent img,
.loyal img{
    border-radius: 15px;
    margin-right: .5em;
    max-width: 2em;
    height: 2em;
}

.indicators .action,
.indicators .spent,
.indicators .loyal{
    display: flex;
    align-items: center;
    /* margin-top: 0; */
}

/* Styling for Analytics class */
.analytics {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-top: 20px; 
}

.vertical-values {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-values.left {
    margin-right: 5px;
}

.vertical-values.right {
    margin-left: 5px;
}

.lines-container {
    display: flex;
    flex-direction: column; /* Adjust to column */
    align-items: center;
}

.line-row {
    display: flex;
    align-items: center;
}

.lines {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    margin: 5px 0;
}

.vertical-values > div,
.bottom-values > div {
    margin-top: 5px;
}

.bottom-values {
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
    align-items: center;
    margin-top: 5px;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

