/*======== Styling analytics ============*/

/* styling analysis class */
.Analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Analysis .indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Add margin if needed */
}

.Analysis .indicators > * {
    flex: 1;
    margin-right: 20px;
}

/* styling for images */
.action img,
.spent img,
.loyal img{
    border-radius: 15px;
    margin-right: .5em;
    max-width: 2em;
    height: 2em;
}

.indicators .action,
.indicators .spent,
.indicators .loyal{
    display: flex;
    align-items: center;
    /* margin-top: 0; */
}

/* Styling for Analytics class */
.analytics {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-top: 20px; 
}

.vertical-values {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-values.left {
    margin-right: 5px;
}

.vertical-values.right {
    margin-left: 5px;
}

.lines-container {
    display: flex;
    flex-direction: column; /* Adjust to column */
    align-items: center;
}

.line-row {
    display: flex;
    align-items: center;
}

.lines {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    margin: 5px 0;
}

.vertical-values > div,
.bottom-values > div {
    margin-top: 5px;
}

.bottom-values {
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
    align-items: center;
    margin-top: 5px;
    margin-left: 2.5em;
    margin-right: 2.5em;
}


/* p, h1, h2, h3, h4, h5{
  
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
} */

  /*=================== style for Analytics PAGE ========================*/

  /*
============ + +  \+ + +  + /+ + =========
============ + +  + \+ +  /+ + + =========
============ + -+  -+ \+ +  +- +- + =========
============ + +  + +/ \+  + + + =========
============ + +  +/ + +  \+ + + =========
*/

/*++++++++++++ details class +++++++++*/
.details {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-flow: row wrap;
}
.clasif {
    background-color: #181D37;
    margin-right: 2em;
    padding: 1em;
    text-align: center;
    border-radius: 20px;
    border: 1px solid grey;
}
.clasify {
 background-color: #101426;
 margin-left: 2em;
 padding: 1em;
 border-radius: 20px;
 border: 1px solid grey;
 /* text-align: center; */
}

article {
    background-color: #000000;
    border-radius: 20PX;
    padding-left: .5em;
    padding-top: .2em;
    padding-right: .5em;
}

.blog_analysis {
     background-color: rgb(17, 17, 28); 
    border-radius: 20px;
}

.most_viewed
{
    padding: 1em;
    background-color:#181D37;
    border-radius: 20PX;
}

.most_liked {
    padding: 1em;
    background-color:rgb(29, 29, 20);
    border-radius: 20PX;
    margin-top: 1em;
    margin-bottom: 1em;
}
.most_shared {
    padding: 1em;
    background-color:rgb(47, 47, 38);
    border-radius: 20PX; 
}

.its_position {
    background-color: #181D37;
    border-radius: 20px;
    padding: .5em;
}

.subscribers {
    background-color: #161a2b;
    border-radius: 20px;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.visits {
    background-color: #24283f;
    border-radius: 20px;
    padding: .5em; 
}



label {
    margin-right: 10px;
  }

  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  output {
    background-color: #f5f4f4;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 2em;
  }
  
  .hours {
    font-size: 12px;
  }

   a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: yellow !important;
  }

  li {
    padding-bottom: 1em;
    font-style: normal ;
    font-family: 'Arial Narrow Bold', sans-serif;
  }

  .analytics_header h1 {
    background-color: #ffffff;
    color: black;
    text-align: center;
  }

    /* controling go to dashboard class*/
    .got_to_dashboard {
        /* border: 1px solid red; */
        width: 11em;
      } 

/*======= Styling profile page on small screens ===== */
@media screen and (max-width: 700px) {
    .clasify {   
     margin-top: 1em;
     margin-left: 0;
    }
    
    .clasif {
        margin-right: 0;
    }

    select {
        font-size: 12px;
        width: 100px;
      }
    
      output {
        font-size: 14px;
        width: 2em;
      }
}