/*
 * === intro-contact class style ===
 */

/* intro-sub flexbox */
.intro-contact  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: auto;
    border: 1px solid;  
    border-radius: 15px;
  }

   /* Article style */
   .intro-contact  .message{
    /* border: 1px solid #ff5a5f;   */
    align-items: center;
    background-color: #213541;
    color: white;
    border-radius: 15px;
    width: 75%;
    height: 209px;
    margin: 0 auto;
  }

  .intro-contact input {
    background-color: #213541;
    border-radius: 15px;
    border: 0;
    width: 9em;
    font-size: medium;
    margin-top: 1em;
    /* margin-right: 4em; */
    padding: 1em;
}

.get-email {
    background-color: #213541;
    color: white;
    border-radius: 15px;
    width: 9em;
    font-size: medium;
    margin-top: 1em;
    margin-bottom: 1em; /* Added margin-bottom */
    padding: 1em;
    text-align: center; /* Center the text inside .get-email */
  }
  
  .sendMessage {
    width: 20%;
    height: auto;
    color: white !important;
    background-color: #2f2b2b;
    border-radius: 20px;
    border: 1px solid #916868;
    padding: 10px;
    text-align: center;
    margin-bottom: 1em; /* Added margin-bottom */
  }

  .sendMessage:hover {
    background-color: #101426;
    color: rgb(224, 193, 16) !important;
    width: 20%;
    font-size: large;
    cursor : pointer;
    }