/*
 * === intro-contact class style ===
 */


/* intro-sub flexbox */
.intro-contact  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: auto; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
  }

  .intro-contact .contactme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 20px;
  }

   /* Article style */
   .intro-contact .contactme-container .message{
    /* border: 1px solid #ff5a5f;   */
    align-items: center;
    background-color: #c5c7d5;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 75%;
    height: 209px;
    margin: 0 auto;
    font-size: x-large;
  }

  .intro-contact .contactme-container input {
    background-color: #c5c7d5;
    border-radius: 5px;
    border: 0;
    width: 75%;
    font-size: large;
    margin-top: 1em;
    padding: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 1.3rem;
}

  