
footer {
    height: auto;
    width: 95%;
    border-top: 1px solid #CCCCCC;
    padding-top: .5em;
    align-items: center;
    bottom: 0;
    line-height: normal;  
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.logo {
  width: 25%;
}

.footer-navigate {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  width: 20%;
  padding: 10px;
  /* border: 1px solid blue; */
}


.socialmedia {
    max-width:40%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.social {
  width: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  gap: 1rem;
}

.social a {
  max-width: 10%;
  height: auto;
}

.social img {
    max-width: 10%;
    margin-right: 2rem;
    height: auto;
    border-radius: 5px;
}

.footcopyright {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    height: 60px;  
    border-top: 1px solid #CCCCCC;
} 

.footcopyright h5 {
  font-size: small;
  color: #b1b1b1;
  text-align: center;
}


     /* Align intro_service class as screen gets smaller */
     @media only screen and (max-width: 700px) {
        .footer {
          display: block;
          font-size: medium;
          width: 95%;
        }

        .footer-container {
          display: flex;
          justify-content: center;
          flex-flow: column;
          align-items: center;
        }

        .footer-container div {
          width: 80%;
          margin-bottom: 1rem;
        }
      } 
      