
/*
 *=====Introduction class styling =====
 */

.introduction {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  

.introduction .intro {
    /* border: 1px solid green;    */
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
    width: 50%;
}  

.minded {
    flex-wrap: wrap;
    margin-right: 2em;
}

.face {
    justify-content: space-between; 
    margin-bottom: 20px;
    text-align: center;
    max-width: 35%;
    margin-top: 20px;
    margin-right: 0;
    /* margin-left: 2.5em; */
    margin-bottom: 2.5em;
     
}

.face p {
    font-size: .9rem;
    font-weight: 200;
}

.mypic{
    width: auto;
    /* border: 1px solid red;   */
}
.introduction .mypic img {
    border-radius: 50%;
    padding: 0;
    max-width: 60%;
    height: auto;
    /* border: 1px solid red; */
}


   /* Align introduction class as screen gets smaller */
   @media only screen and (max-width: 1000px) {
    .introduction {
      display: flex;
      align-items: center;
      justify-content: center; 
      flex-direction: column;
      font-size: medium;
      width: 95%;
      margin-top: auto;
      margin-bottom: 2rem;
    } 

      .introduction .intro { 
        align-items: center;
        justify-content: center;  
        font-size: medium;
        width: 95%;
    } 

  } 
  
  @media screen and (max-width: 700px) {
    .introduction  {   
      display: flex;
      align-items: center;
      justify-content: center;  
      flex-direction: column;
      width: 95%;
      padding: .8rem;
    }

    .introduction .intro { 
    align-items: center;
    justify-content: center;  
    font-size: medium;
    width: 95%;
} 

.face {
  max-width: 80%;
}

  }
    