.post {
	width: 100%;
	font-family: 'Lexend', sans-serif;
}

.post-image {
	display: block;
	width: 100%;
}

.post-ratings-container {
	display: flex;
	justify-content: start;
	padding: 12px 0;
    width: 90%;
}

.post-rating {
	display: flex;
	align-items: center;
	cursor: default;
    align-items: left;
}

.post-rating:not(:last-child) {
	margin-right: 12px;
}

.post-rating-selected > .post-rating-button,
.post-rating-selected > .post-rating-count {
	color: yellow;
}

.post-rating-button {
	margin-right: 6px;
	cursor: pointer;
	color: #54b2ce;
}

.post-rating:not(.post-rating-selected) > .post-rating-button:hover {
	color: #d89e9e;
}