.post {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	/* border: 1px solid red; */
}


.post-ratings-containers {
	display: flex;
	justify-content: start;
	/* padding: 12px 0; */
    width: 90%;
	/* border: 1px solid red; */
}

/* .post-ratings-containers div {
	width: 20%;
	border: 1px solid red;
} */

.post-rating {
	display: flex;
	align-items: center;
	cursor: default;
    align-items: left;
}

.post-rating:not(:last-child) {
	margin-right: 12px;
}

.post-rating-selected > .post-rating-button,
.post-rating-selected > .post-rating-count {
	color: rgb(255, 157, 0);
}

.post-rating-button {
	margin-right: 6px;
	cursor: pointer;
	color: #54b2ce;
}

.post-rating:not(.post-rating-selected) > .post-rating-button:hover {
	color: #d89e9e;
}

/* Button for commenting */
.post-commenting {
	display: flex;
	align-items: center;
	cursor: default;
    align-items: center;
    /* padding-left: .5em; */
    box-shadow: #54b2ce;
}


/* Button for sharing blog */
.post-sharing {
	display: flex;
	align-items: center;
	cursor: default;
    align-items: left;
}

.post-sharing:not(:last-child) {
	margin-right: 12px;
}

.post-sharing-selected > .post-sharing-button,
.post-sharing-selected > .post-sharing-count {
	color: yellow;
}

.post-sharing-button {
	margin-right: 6px;
	cursor: pointer;
	color: #54b2ce;
}

.post-sharing:not(.post-sharing-selected) > .post-sharing-button:hover {
	color: #c78989;
}



/*======= Styling like button on small screens ===== */
@media screen and (max-width: 1000px) {
    .post-ratings-containers {
		display: flex;
		flex-direction: row;
		height: 50%;
		width: 100%;
		/* border: 1px solid red; */
	}

	.post-ratings-containers div {
        align-items: left;
	}
}
  
@media screen and (max-width: 700px) {
	.post-ratings-containers {
		display: flex;
		flex-direction: row;
		height: 50%;
		width: 100%;
		/* border: 1px solid red; */
	}
	.post-ratings-containers div {
        align-items: center;
		/* border: 1px solid red; */
	}
}
