/* General Styling */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
} */

/* Header Styling */
.mradmin {
  background-color: #465F6C;
  color: #FFD43B;
  text-align: center;
  font-size: 24px;
  height: 90px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Form Container */
.new-blog {
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  background: #898e8f;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Elements */
.new-blog h3 {
  color: #333;
  margin-bottom: 10px;
}



.new-blog input,
.new-blog textarea,
.new-blog select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ccc;
}

.status-message {
  font-size: 14px;
  margin-top: 10px;
}

.status-message.success {
  color: green;
}

.status-message.error {
  color: red;
}

textarea.contentin {
  height: 100px;
}

/* Upload Image Section */
.upload-article-image input {
  display: none;
}

.upload-article-image label img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.upload-article-image p {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

/* Buttons */
.new-blog .edit_button {
  display: inline-block;
  width: 48%;
  padding: 10px;
  background-color: #2f2b2b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.new-blog .edit_button:hover {
  background-color: #101426;
  color: #FFD43B;
}

.publish-new-article {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.dashboard-link button {
  width: 100%;
  margin-top: 20px;
  background-color: #465F6C;
}

/* Responsive Design */
@media (max-width: 600px) {
  .publish-new-article {
    flex-direction: column;
  }

  .new-blog .edit_button {
    width: 100%;
  }
}
