
body {
    /* border: 1px solid red; */
    margin: 0;
}

.notification_board {
     margin-top: 1em;
    margin-bottom: 1em; 
    text-align: center;
    padding-top: .5em;
    padding-bottom: 1em;
    background-color: #0d0f16;
    height: 4em;
    border-radius: 11px;
    border: 1px solid grey;
}

  .notifications_storage {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: center;  */
    /* border: 1px solid #916868; */
    justify-content: center;
    /* margin: auto; */
    width: 95%;
}

.notifications_storage h1 {
    color: rgb(237, 241, 22) !important;
}
.on_the_way {
    margin: .5em;
    background-color: #2B3048;
    border: 3px solid grey; 
    border-radius: 15px;
    padding: 1em;
    width: 20%;
    
}

.on_the_way h3 {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    
}

.categorization {
    /* margin: 1em;  */
    border: 3px solid grey;
    border-radius: 15px;
    padding: 1em;
    width: 60%; 
}

.new_notifications {
    width: 90%;
    /* border: 3px solid grey; */
    /* padding-left: 1em; */
    /* margin: 1em; */
}

.all_notifications {
    border: 5px solid grey;
    /* width: %; */
    font-size: large;
    /* padding-left: 1em; */
    align-items:  center;
    border-radius: 15px;
}

.image_and_message {
   display: flex;
   flex-flow: row wrap; 
   /* border: 1px solid red; */

}

.image_and_message img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    /* border: 1px solid red; */
}


 p {
    padding-left: 1.2em;
    font-size: x-large;
}


.categorization a {
    color: rgb(176, 155, 155);
    text-decoration: none;
  }

  a {
    color: white;
    text-decoration: none;
    
  }

  a:hover {
    cursor: pointer;
    color: yellow !important;
  }

  li {
    padding: 2em;
    padding-left: 0; 
    padding-bottom: 1em;
    color: rgb(232, 140, 10) ;
    font-style: normal ;
    font-family: 'Roboto', sans-serif;
    font-size: x-large; 
  }


  /* styling edit_button classes */
 .edit_button{
    width: auto;
    height: 40px;
    color: white !important;
    background-color: #2f2b2b;
    border-radius: 20px;
    border: 1px solid #916868;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 1.1em;
  }
  
  .edit_button:hover {
    background-color: #101426;
    color: rgb(224, 193, 16) !important;
    cursor: pointer;
  }

  .deal_with_messages {
    margin: 2em;
    justify-content: space-around;
    /* margin-left: 1em; */
    /* border: 1px solid #916868; */
  }

  
    /* Align intro_service class as screen gets smaller */
    @media only screen and (max-width: 1000px) {
      .notification_board {
        width: 99%;
        margin: 0;
        
      }
      .notifications_storage {
        flex-direction: column;
        width: 100%;
        
      }
      .on_the_way {
        width: 100%;
        margin: 0;
        /* border: 1px solid #916868; */
      }

    .on_the_way h3 {
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
      
  }
  
    .categorization {
        display: block;
        font-size: medium;
        width: 90%;
      }
  
       .all_messages {
              width: 80%;
       }

    } 
    
    @media screen and (max-width: 700px) {
      .notification_board {
        width: 99%;
        margin: 0;
        
      }
      .notifications_storage {
        flex-direction: column;
        width: 100%;
        
      }
      .on_the_way {
        width: 90%;
        margin: 0;
        /* border: 1px solid #916868; */
      }

    .on_the_way h3 {
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
      
  }
  
    .categorization {
        display: block;
        font-size: medium;
        width: 90%;
      }
  
       .all_messages {
              width: 80%;
       }
    }
