/*======== This file style PROFILE page ===================*/


  /* style body of profile page*/
 body {
  background-color: rgb(0, 0, 0);
  }  

  /* controling go to dashboard class*/
   .got_to_dashboard {
    /* border: 1px solid red; */
    width: 11em;
  } 

  /* style anch link */
a {
  color: white;
  text-decoration: none;
}

a h3 {
  /* border: 1px solid red; */
  width: 175px;
}

a h3:hover {
  color: yellow;
}

.profile {
  display: block; 
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  background-color: rgb(22, 22, 39);
  /* border: 1px solid red; */
}

.profile_top {
   /* border: 1px solid red;   */
  display: flex;
  /* flex-wrap: wrap; 
   flex-direction: row;  */
  /* flex-flow: row wrap;  */
  justify-content: center;
}

.profile_image {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  /* justify-content: center;  */
}


.edit_about {
  /* border: 1px solid red; */
  width: 100%;
}


/* control profile photo */
.profile_image img {
  width: 40%;
  border-radius: 50%;
}

/* styling edit_button classes */
 .edit_button{
  width: auto;
  height: 40px;
  color: white !important;
  background-color: #2f2b2b;
  border-radius: 20px;
  border: 1px solid #916868;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.profile_main .remove {
  width: 3em;
  height: 40px;
  color: white !important;
  background-color: #2f2b2b;
  font-family: bold;
  font-size: 1em;
  border-radius: 20px;
  border: 1px solid #916868;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.edit_button:hover {
  background-color: #101426;
  color: rgb(224, 193, 16) !important;
}

span {
  font-size: 15px;
}

.mypic_and_name {
  /* border: 1px solid red;  */
  width: 60%;
}

.mypic_and_name img {
  margin-left: 4em;
}
.edit_me {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row wrap;
  width: auto; 
}

 .change_pic{
  /* border: 1px solid red;  */
  width: 60%;
  text-align: center;
}

/* ======== Styling profile_main class ===========*/
.profile_main {
  display: block;
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
   width: 100%; 
} 

.profile_main .Edication {
  width: 80%;
  align-items: center;
}

.profile_main .Skills {
  width: 80%;
  align-items: center;
}

.profile_main .Experience {
  width: 80%;
  align-items: center;
}



.profile_main h1 {
  background-color: #000000;
  padding-left: 1em;
  height: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}


.profile_footer {
  border-top: 1px solid white !important;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-flow: row wrap;
  height: auto;
}

.profile  h4, h6, p {
  font-size: 20px;
  /* text-align: left; */
}

.profile  .edit_about  .change_Employment_status output{
  color: yellow !important;
}

label {
  margin-right: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

output {
  background-color: #f5f4f4;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 2em;
}


/*======= Styling profile page on small screens ===== */
@media screen and (max-width: 700px) {
    .profile {   
      flex-direction: column;
      padding-left: .2em;
      padding-right: .2em;
    }

    .profile_image {
      width: 100%;
    }

    .mypic_and_name { 
      width: 100%;
    }

    .profile_top {
      display: block;
      margin-left: .5em;
      margin-right: .5em;
      justify-content: space-around;
    }
    img {
    width: 80%;
    justify-content: center;
    }
 
    .profile_main {
      display: block;
      margin-left: .5em;
      margin-right: .5em;
    }

    .profile_footer {
      display: block;
      justify-content: center;
      flex-wrap: wrap;
  }
}
  