/*=========== file for all styles regarding SERVICE INFORMATION
 ============= This file consist of two sections
 =============  1. intro-servicet class to be used in INDEX.HTML/homepage
 ============== 2. service_page class which is stand for SERVICE PAGE
 */


/*
 * === intro-service class style ===
 */

/* intro-service flexbox */
.intro-service {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    /* border: 1px solid #ff5a5f;  */
  }

/* ... your existing styles ... */


  .intro-service p {
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  /* Article style */
  .intro-service article {
    align-items: center;
    /* border: 1px solid #ff5a5f;   */
    width: 33%;
    margin: auto;
  }
   
  /* Styling all images of intro-service class */
  .intro-service img{
    align-items: center;
    border-radius: 50%;
    /* margin-left: 4.5em;
    margin-right: 4.5em; */
    max-width: 80%;
    /* border: 1px solid #ff5a5f; */
  }

  .intro-service h2 {
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }


  .full-stack-dev .download-my-cv {
    /* margin-left: 9em; */
    align-items: center;
  }

   /* ux-design style*/
   .intro-service  .ux-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    /* border: 1px solid #ff5a5f; */
    color: #ffffff;
    font-size: 1em;
    height: auto;
    min-width: 20%;
  }
  

  .ux-design .ux{
    align-items: center; 
    margin-top: 0;
    max-width: 50%;
    /* padding-right: 15%; */
    /* border: 1px solid red;    */
  }
  
  /* hovering effect */
  .ux-design:hover,
  .web-dev:hover,
  .full-stack-dev:hover {
    border: 10px yellow solid;
    border-radius: 30px;
    transition: border 500ms ease-in;
  }
      
  /* full stack developer styling*/
  .intro-service .full-stack-dev{
    display: flex;
    flex-direction: column;
    padding: .5em;
    align-items: center;
    /* border: 1px solid #ff5a5f; */
    color: #ffffff;
    font-size: 1em;
    height: auto;
    justify-content: center;
    min-width: 20%;
  }
  
  .full-stack-dev .full-stack{
    align-items: center;
    padding-left: 15%;
    max-width: 50%;
    /* border: 1px solid red;  */
  }
  
  .full-stack img {
    display: flex;
    justify-content: center;
    /* text-align: center !important; */
  }

  /* web development styling */
  .intro-service .web-dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    /* border: 1px solid #ff5a5f; */
    color: #ffffff;
    font-size: 1em;
    height: auto;
    /* justify-content: right; */
    min-width: auto;
  }

  .web-dev .web{
    align-items: center;
    padding: .5em;
    margin-bottom: 2.5em;
    max-width: 50%;
    /* border: 1px solid red;   */
  }


  /* centering our service header */
  .btn {
    text-align: center;
    margin-top: 0;
    font-size: xx-large;
  }

  /* ========= styling SERVICES.HTML PAGE */
  .offer{
    margin-top: 1em;
    color: rgb(218, 205, 36);
    font-size: xx-large;
  }


     /* Align intro_service class as screen gets smaller */
     @media only screen and (max-width: 1000px) {
      .intro-service {
        display: block;
        font-size: medium;
        width: 95%;
      }
  
      .intro-service article {
        display: block;
          width: 95%;
        } 
  
        .intro-service .full-stack-dev { 
  
          align-items: center;
          justify-content: center;  
          margin: 5px;
          font-size: medium;
      } 
  
      /* .intro-about .face {
        margin: 5px;
      }  */
    } 
    
    @media screen and (max-width: 700px) {
      .intro-service  {  
        display: block; 
        /* flex-direction: column; */
        width: 95%;
        margin: 5px;
      }
  
      .intro-service .full-stack-dev { 
      flex-direction: column;  
      align-items: center;
      justify-content: center;  
      margin: 5px;
      font-size: medium;
  } 
  
      .intro-service article {
        width: 100%;
      } 
  
      /* .introduction .face {
        margin: 5px;
      }  */
    }


  /*++++++++++++ SERVICE PAGE +++++++++++*/

/*
============ + +  \+ + +  + /+ + =========
============ + +  + \+ +  /+ + + =========
============ + -+  -+ \+ +  +- +- + =========
============ + +  + +/ \+  + + + =========
============ + +  +/ + +  \+ + + =========
*/



  /*
 *===== service class styling in service.html page =====
 */

 .service_page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 50%; 
  margin: auto;
}

/* .service_page div {
  width: 40em;
}   */



.service_class{
  background-color: rgb(21, 21, 31);
  /* margin-left: 2.5em; */
  margin-bottom: 2.5em;
  border-radius: 20px;
  text-align: center;
  border: 1px solid ;
  margin-top: 1em;
  padding: 19px;
}
.service_class h1, p,  h2, h3, h4{
  font-size: x-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left; 
}

.service_class ul {
  text-align: left;
  font-size: large;
  color: rgb(255, 252, 252);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.service_class ul li{
  padding-bottom: 6px;
  color:#f3d8e4
}
/* h1 {
  font-size: x-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.service_class a {
color: yellow;
text-decoration: none;
}

.service_class .serviceBoard {
  border-radius: 5px;
  width: 90%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 25, 49);
}

.serviceBoard h1 {
  text-align: center;
  font-size: xx-large;
}

.servicePhoto {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  border-radius: 9px;
}

.servicePhoto img {
  width: 90%;
  height: 90%;
  border-radius: 5px;
  border-radius: 15px;
}

.service_class .servicePhoto, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
     /* Align intro_service class as screen gets smaller */
     @media only screen and (max-width: 1000px) {
      .service_page {
        font-size: medium;
        width: 95%;
      }
  
      .service_class article {
          width: 95%;
        } 
      }
    
    @media screen and (max-width: 700px) {
      .service_page {
        font-size: medium;
        width: 95%;
      }
  
      .service_class article {
          width: 95%;
        } 
    }