/* ==================== styling settings page +++++++++ */

label {
    margin-bottom: 10px;
    /* font-size: 2; */
  }

  .settings {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  .settings div {
    align-items: center;
    /* border: 1px solid #ff5a5f; */
    width: 90%;
    justify-content: center;
    display: block;
    margin: 2em;
  }
   .web_management {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
   }
.web_management div{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   width: 100%;
}

  /* style anch link */
  a {
    color: white;
    text-decoration: none;
  }
  
  a h3 {
    /* border: 1px solid red; */
    width: 175px;
  }
  
  a h3:hover {
    color: yellow;
  }
  


  /* .privacy {
    display: block;
    align-items: center;
    margin: 3em;
  }

  .sharing_access {
    display: block;
    align-items: center;
    margin: 3em;
  } */