/* styling share icon */

.post-sharing {
	display: flex;
	align-items: center;
	cursor: default;
    align-items: left;
}

.post-sharing:not(:last-child) {
	margin-right: 12px;
}

.post-sharing-selected > .post-sharing-button,
.post-sharing-selected > .post-sharing-count {
	color: yellow;
}

.post-sharing-button {
	margin-right: 6px;
	cursor: pointer;
	color: #54b2ce;
}

.post-sharing:not(.post-sharing-selected) > .post-sharing-button:hover {
	color: #c78989;
}