/* =================Styling signin class within secondstep class===========*/

/* secondstep class styling*/
.secondstep {
    margin: 2em;
    text-align: center;
}

a {
    color: yellow;
    text-decoration: none;
}
.secondstep input {
    background-color: #8B7F7F;
    border: 0;
}

.secondstep p {
    font-size: small;
}

  /*++++++++++++ SIGNIN PAGE +++++++++++*/

/*
============ + +  \+ + +  + /+ + =========
============ + +  + \+ +  /+ + + =========
============ + -+  -+ \+ +  +- +- + =========
============ + +  + +/ \+  + + + =========
============ + +  +/ + +  \+ + + =========
*/



  /*
 *===== signin class styling in signin.html page =====
 */

.mradmin {
    background-color: #465F6C;
    color: #FFD43B;
    text-align: center;
    font-size: medium;
}

/* styling input*/
.secondstep input {
    background-color: #8B7F7F;
    border: 0;
}


 button {
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: bold;
    border: none;
    border-radius: 4em;
    text-align: center;
    font-size: 1em;
    height: 2em;
    margin: 12px 30px;
    min-width: 0.2em;
    width: px;
  }
  
  /* See more button hover opacity */
   button:hover {
    color: black !important;
    font-family: bold;
    background-color: rgb(231, 229, 201);
    cursor: pointer;
  }

  /* control signup class of a paragraph*/
  /* .sign, 
  input
  p
  h1
  h2 
  h3
  h4
  h5{
  
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
 .secondstep p, button,
 input,
 h1,
  h2, 
  h3, 
  h4, 
  h5{
  
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: left; */
}

p {
  
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: left; */
}