/* =================Styling signin class within secondstep class===========*/

/* secondstep class styling*/
.secondstep {
    margin: 2em;
    text-align: center;
}

a {
    color: yellow;
    text-decoration: none;
}
.secondstep input {
    background-color: #8B7F7F;
    border: 0;
}

.secondstep p {
    font-size: small;
}

/* .signin {
    background-color: ;
} */