
.skills_page {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* justify-content: space-around; */
    margin: auto;
    width: 95%;
  
  }
  
  .skills_page div {
    width: 40em;
  } 
  
  .skills_page_class p, h2, h3, h5{
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
  }

  .skills_page_class h1{
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  
  .skills_page h4 {
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .skills_page_class  a {
    color: yellow;
    text-decoration: none;
  }
  
  .skills_page_class li {
    text-align: left;
    color: white;
    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .skills_page_class {
    background-color: rgb(12, 12, 34);
    /* margin-left: 2.5em; */
    margin-bottom: 2.5em;
    text-align: center;
    padding: .5em;
    border: 1px solid ;
    border-radius: 15px;
    margin-top: 1em;
    /* border: 1px solid red;   */
  }
  
  .me_big_b {
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .edit_button{
    width: auto;
    height: 40px;
    color: white !important;
    background-color: #2f2b2b;
    border-radius: 20px;
    border: 1px solid #916868;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  .edit_button:hover {
    background-color: #101426;
    color: rgb(224, 193, 16) !important;
  }

