
@import url('https://fonts.googleapis.com/csss/family=Roboto:700&display=swap');

body {
  margin: 0;
}

.skills_page {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
    width: 50%;
  
  }
  

  .skills_page div {
    width: 95%;
  } 


  .skills_page .skillBoard {
    border: 1px solid #221728;
    width: 98%;
    border-radius: 10px;
    background-color: #11192e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .skills_page .explain {
    width: 80%;
    padding: 10px;
    background-color: #060722;
    border-radius: 10px;
  }
  .skills_page_class h2, h5{
    font-size: x-large;
    font-family:'Roboto', sans-serif;
    text-align: left;
  }

  .skills_page_class p {
    text-align: left;
    font-size: large;
    
  }

  .tableOfContent {
    background-color: #1c2336;
  }

  .technicalSkills{
    background-color: #020c2a;
  }

  .softSkills {
    background-color: #0b1629;
  }

  .certificates {
    background-color: #121d39;
  }

  .certificates,
  .technicalSkills,
  .tableOfContent,
  .softSkills {
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    /* margin: 10px; */
  }

  #Table, #TechnicalSkills, #SoftSkills{
    text-align: left;
    font-size: x-large;
  }

  .skills_page_class h1{
    font-size: x-large;
    font-family:'Roboto', sans-serif;
    text-align: center;
  }

  
  .skills_page h4 {
    font-size: x-large;
    font-family:'Roboto', sans-serif;
    text-align: center;
  }
  
  .skills_page_class  a {
    color: yellow;
    text-decoration: none;
  }
  
  .skills_page_class .tableOfContent li {
    text-align: left;
    color: white;
    font-size: 23px;
    font-family:'Roboto', sans-serif;
  }
  
  .skills_page_class .certificates li {
    text-align: center;
    color: white;
    /* font-size: 23px; */
    /* font-family:'Roboto', sans-serif; */
  }

  .skills_page_class {
    background-color: rgb(12, 12, 34);
    /* margin-left: 2.5em; */
    margin-bottom: 2.5em;
    text-align: center;
    padding: .5em;
    border: 1px solid ;
    border-radius: 15px;
    margin-top: 1em;
    /* border: 1px solid red;   */
  }
  
  .skillBoard .me_big_b {
    font-size: x-large;
    text-align: center;
    background-color: #060722;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 85%;
    border-radius: 9px;
    border: 0;
  }

  .edit_button{
    width: auto;
    height: 40px;
    color: white !important;
    background-color: #2f2b2b;
    border-radius: 20px;
    border: 1px solid #916868;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  .edit_button:hover {
    background-color: #101426;
    color: rgb(224, 193, 16) !important;
  }

@media screen and (max-width: 700px) {
  .skills_page {
    width: 95%;
  }

  .skills_page div {
    width: 93%;
  } 

  /* .skillBoard {
    margin-left: 11px;
  } */

  
  #Table, #TechnicalSkills, #SoftSkills{
    text-align: left;
    font-size: large;
  }

  .skills_page_class h1{
    font-size: large;
  }

  
  .skills_page h4 {
    font-size: medium;
  }
  

  .skills_page_class {
    margin-bottom: 2em;
    text-align: center;
    margin-top: 1em;
    /* border: 1px solid red;   */
  }
}
