
@import url('https://fonts.googleapis.com/csss/family=Roboto:700&display=swap');

.subscription_board {
  /* width: 95%; */
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
    padding-top: .5em;
    padding-bottom: 1em;
    background-color: #0d0f16;
    height: 4em;
    border-radius: 11px;
    border: 1px solid grey;
}

  .subscription_storage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center; 
    align-items: center;
    /* border: 1px solid #916868; */
    margin: auto;
    width: 50%;
}

.subscription_storage h1 {
    color: rgb(237, 241, 22) !important;
}


.insight {
    /* margin: 1em; */
    border: 3px solid grey;
    border-radius: 15px;
    padding: 1em;
    width: 95%; 
}

.new_message {
    width: 100%;
    /* border: 3px solid grey; */
    /* padding-left: 1em;
    margin: 1em; */
}

.all_messages {
    border: 5px solid grey;
    width: 95%; 
    font-size: large;
    padding-left: 1em;
    align-items:  center;
    border-radius: 15px;
}

.image_and_message {
   display: flex;
   flex-flow: row wrap; 
   margin-top: 1em;
   /* border: 1px solid red; */

}

.image_and_message img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    /* border: 1px solid red; */
}

 p {
    padding-left: 1.2em;
    font-size: x-large;
}


.insight a {
    color: rgb(245, 237, 237);
    text-decoration: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: yellow !important;
  }

  li {
    padding: 2em;
    padding-left: 0; 
    padding-bottom: 1em;
    color: rgb(232, 140, 10) ;
    font-style: normal ;
    font-family: 'Roboto', sans-serif;
    font-size: x-large; 
  }


  /* styling edit_button classes */
 .edit_button{
    width: auto;
    height: 40px;
    color: white !important;
    background-color: #2f2b2b;
    border-radius: 20px;
    border: 1px solid #916868;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 1.1em;
  }
  
  .edit_button:hover {
    background-color: #101426;
    color: rgb(224, 193, 16) !important;
  }

  .deal_with_messages {
    margin: 2em;
    justify-content: space-around;
    /* margin-left: 1em; */
    /* border: 1px solid #916868; */
  }


   /* Align intro_service class as screen gets smaller */
   @media only screen and (max-width: 1000px) {
    .subscription_storage {
      font-size: medium;
      width: 95%;
    }
  } 
  
  @media screen and (max-width: 700px) {
    .subscription_storage {
      font-size: medium;
      width: 95%;
    }

    .insight {
      width: 90%;
    }
  }

